span {
  font-size: 12px;
}

.emp-task {
  display: flex;
  justify-content: space-between;
}

.emp-details {
  width: 400px;
  word-wrap: break-word;
  padding-top: 20px;
}

.btn-Copy {
  padding-top: 20px;
}
