@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
}

.task-container {
  padding: 10px;
  border: 1px solid black;
}
.completed {
  border: 5px solid rgb(0, 255, 106);
}
